.button-one {
    position: relative;
    height: 100px;
    width: 200px;
    background: none;
    font-size: 18px;
    text-transform: uppercase;
    overflow: hidden;
}

.button-one::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #ff0;
    z-index: -1;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition-duration: 0.5s;
}

.button-one:hover::before {
    transform: rotate(0deg);
}

.button-two {
    background: linear-gradient(45deg, #fff 50%, orangeRed 50%);
    width: 240px;
    height: 80px;
    border: 2px solid orangeRed;
    font-size: 18px;
    border-radius: 4px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

.button-two::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, orangeRed 50%, transparent 50%);
    z-index: -1;
}  

.button-two,.button-two::after {
    background-size: 300%;
    background-position: 100%;
    transition: background-position 1s, font-size 0.2s;
}   

.button-two:hover, .button-two:hover::after {
    background-position: 0;
    font-size: 1.1em;
}