.button-one {
    position: relative;
    height: 100px;
    width: 200px;
    background: none;
    font-size: 18px;
    text-transform: uppercase;
    overflow: hidden;
}

.button-one::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #ff0;
    z-index: -1;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition-duration: 0.5s;
}

.button-one:hover::before {
    transform: rotate(0deg);
}

.button-two {
    background: linear-gradient(45deg, #fff 50%, orangeRed 50%);
    width: 240px;
    height: 80px;
    border: 2px solid orangeRed;
    font-size: 18px;
    border-radius: 4px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

.button-two::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, orangeRed 50%, transparent 50%);
    z-index: -1;
}  

.button-two,.button-two::after {
    background-size: 300%;
    background-position: 100%;
    transition: background-position 1s, font-size 0.2s;
}   

.button-two:hover, .button-two:hover::after {
    background-position: 0;
    font-size: 1.1em;
}

.wrapper {
    margin-bottom: 20px;
}

.button-three {
    height: 100px;
    width: 300px;
    background-color: orangeRed;
    color: white;
    border: 2px solid orange;
    border-radius: 4px;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.button-three__text {
    transition: transform 0.5s ease-in-out;
}

.button-three:focus {
    outline: none;
}

.button-three:hover .button-three__text {
    transform: translateX(25px);
}

.button-three::before {
    content: '';
    position: absolute;
    background-image: url('github.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    background-color: white;
    height: 100%;
    width: 50px;
    top: 0;
    left: 0;
    transform: translateX(-75px) skewX(15deg);
    transition: transform 0.5s ease-in-out;
}

.button-three:hover::before {
    transform: translateX(0px) skewX(0deg);
}

.button-four {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: orangered;
    border: 1px solid white;
    color: white;
    position: relative;
    overflow: hidden;
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
}

.button-four:focus {
    outline: none;
}

.button-four:hover {
    width: 200px;
    border-radius: 25px;
}

.button-four::before {
    content: 'Noice!';  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    opacity: 1;
    transition: opacity 0.5s;
}

.button-four::after {
    content: 'I am awesome';
    position: absolute;
    left: 50%;
    transform: translate(-50%, 100%);
    opacity: 0;
    transition: transform 0.2s linear 0.2s, opacity 0.01s;
}

.button-four:hover::before {
    opacity: 0;
}

.button-four:hover::after {
    top: 50%;
    left: 50%;
    opacity: 1;
    transform: translate(-50%, -50%);
}